<div class="row">
  <div class="span2"></div>
  <div id="pages_faq" class="span8">
    <h3>Frequently Asked Questions</h3>

    <p class="faq_question">Q: How is owning shares with FundArealty different from owning shares with a REIT?</p>

    <p class="faq_answer">A: The main difference is that owning shares with FundArealty gives you exposure only to properties and geographies of your choice and no others. Ownership of a REIT share generally gives you exposure to multiple properties, geographies and the overall stock market</p>

    <p class="faq_question">Q: Who’s in charge of managing the property?</p>

    <p class="faq_answer">A: FundArealty is not in charge of managing the property. Rather, we appoint accredited and experienced property managers to handle the day-to-day affairs of the property, leaving us to spend time sourcing great deals in the market.</p>

    <p class="faq_question">Q: How does an investment get listed on FundArealty?</p>

    <p class="faq_answer">A: FundArealty is constantly on the lookout for potential investment opportunities in South East Asia that offer great returns. Once a potential investment is spotted, due diligence is done with regards to the acquisition. The property gets listed if FundArealty feels the potential can be realized.</p>

    <p class="faq_question">Q: How does FundArealty vet investments?</p>

    <p class="faq_answer">A: FundArealty performs a thorough research report on the property, looking at both macro and micro factors that are likely to have an impact on the investment return.</p>

    <p class="faq_question">Q: Are there fees for investors?</p>

    <p class="faq_answer">A: Joining FundArealty and browsing the investment properties is free. There is however a fee associated with each investment that helps us cover administrative and miscellaneous costs</p>

    <p class="faq_question">Q: Are the investments risky?</p>

    <p class="faq_answer">A: Yes. Similar to investing in the stock market, there is no guarantee of a full return of capital when you are investing in real estate. That said, real estate is different from owning a stock of a company which can go bankrupt. In extreme cases, investors in stocks can lose their entire capital. With real estate, as long as the building is still functional, there is a chance to get back a certain portion of the capital invested.</p>

    <p class="faq_question">Q: Who owns the deed to the property?</p>

    <p class="faq_answer">A: Each property will be owned by a Limited Liability Company (LLC) validly registered with the Singapore Government, of which you will be an owner. When you invest in a property via FundArealty, you are purchasing shares in the LLC. These shares entitle These shares entitle you to a percentage share of ownership in the asset as well as profits generated from the Managers operation of the asset.</p>

    <p class="faq_question">Q: If something happens to the property, can I end up owing more than I invested?</p>

    <p class="faq_answer">A: No, not as a law abiding member of the Limited Liability Company. The purpose of holding each investment offered on RealtyShares through a single asset Limited Liability Company is to limit your liability with respect to any particular investment to only the amount you invested. In this way, if there is a lawsuit involving the property or the owner of the property (the LLC), any legal and financial liability accruing to the LLC cannot pass through to you or your personal assets. You can only lose the amount you invested.</p>

    <p class="faq_question">Q: How do I make money?</p>

    <p class="faq_answer">A: You make money primarily in by the appreciation of the property and regular dividends paid from rents that exceed expenses. Most property tends to increase in value over time and this is driven by general inflation (of which property is a good hedge against), as well as increasing demand for places to live, work and shop etc. A well operating real estate asset will take in more in rent than it takes to run the building. This excess money will distributed to the investors every quarter.</p>


    <p class="faq_question">Q: Is there a minimum investment requirement?</p>

    <p class="faq_answer">A: The minimum is $100, but may change depending on the specific investment being offered.</p>

    <p class="faq_question">Q: How will unexpected expenses be handled?</p>

    <p class="faq_answer">A: Each property will be initially funded with a reserve to protect against unexpected expenses. In addition, a portion of the rents will be set aside for unexpected expenses as will be called for in the business plan. If at the time of sale there are excess funds in the reserve pool, these will be distributed to the investors. Should the unexpected expenses ever surpass the reserves, the property will be subject to sale, unless more than 50% of the voting interest votes to fund the expenses with additional capital. If greater than 50% of the voting interest votes to invest additional capital instead of selling the property, no investor will be required to invest additional capital, but existing shares (i.e. the existing ownership interests) will be diluted to the extent additional capital is invested.</p>

    <p class="faq_question">Q: How long is the investment for?</p>

    <p class="faq_answer">A: There are several types of real estate investments that call for different investment periods depending on the investment objectives. Ownership of a property in the long term (6-8 years) is the most secure and prudent way to invest in real estate as it offers an opportunity for capital appreciation and regular income. A “value-add” form of investment occurs when modest improvements is made to a property for greater income to be realized and which can then be sold as and when a potential gain is achievable. A “flip” is the most risky form of investment which occurs when a property is bought, fixed up immediately and sold for short term gain.</p>

    <p class="faq_question">Q: What is a typical return that I can expect?</p>

    <p class="faq_answer">A: This depends very much on the overall real estate market, economic growth, sector popularity and spatial factors. On a very general basis, real estate investments across different sectors will yield cash returns of between 3-7% per annum, and expected appreciation of about 3-5% per annum.</p>

    <p class="faq_question">Q: What kinds of real estate will I be able to purchase?</p>

    <p class="faq_answer">A: FundArealty offers the opportunity to own properties across the residential, retail, commercial and industrial sector in South East Asia.</p>

    <p class="faq_question">Q: Can I sell shares early?</p>

    <p class="faq_answer">A: Investment in real estate is generally for longer periods due to the illiquidity of the market. There is no secondary market as of now but FundArealty will likely partner with a secondary market service provider in future to allow you and other investors to buy and sell shares in the secondary market.</p>

    <p>
    <span style="font-weight:bold;">DISCLAIMER:</span> Information posted on the FAQ or on the FundArealty.com Website or Service (as those terms are defined in our Terms of Service and Privacy Policy) is not legal or investment advice. It is for educational and informational purposes only. If you need legal advice regarding any of the above, consult a licensed attorney. If you need investment advice regarding any of the above, consult an investment advisor.
    </p>
  </div>
  <div class="span2"></div>
</div>
