<div class="row">
  <div class="span2"></div>
  <div id="pages_how_it_works" class="span8">
    <h3>How It Works</h3>
    <%= image_tag "how_it_works.jpg", alt: "How It Works" %>
  </div>
  <div class="span2"></div>
</div>
