<div id="intro" class="container">
  <div class="container">
    <div id="intro_content" class="row span10">
      <h1>Invest in Real Estate Collectively</h1>
      <h2>Asia's most exclusive and vibrant real estate investing platform</h2>
      <iframe width="560" height="315" src="http://www.youtube.com/embed/bx_LWm6_6tA" frameborder="0" allowfullscreen></iframe><br/>
      <a href="#signup" id="join_now_btn" class="btn btn-primary btn-large">Join Now</a>
    </div>
  </div>
</div>
<div id="target_users" class="container">
  <div class="container">
    <div class="row">
      <div class="span1"></div>
      <div class="span5 right_border_line">
        <h3><i class="icon-building"></i> Sponsors</h3>
        <h4>Raise capital through crowdfunding</h4>
        <p>Real estate sponsors can promote real estate projects <br />and raise fund from our network of investors readily</p>
        <p><a class="btn btn-primary" href="#">Learn More</a></p>
      </div>
      <div class="span5">
        <h3><i class="icon-group"></i> Investors</h3>
        <h4>Real estate investing made affordable</h4>
        <p>Retail investors and professional institution can pool <br />capital to invest collaboratively in real estate deals.</p>
        <p><a class="btn btn-primary" href="#">Learn More</a></p>
      </div>
      <div class="span1"></div>
    </div>
  </div>
</div>
<div id="contact_us" class="container">
  <div class="container">
    <div class="row">
      <div class="span1"></div>
      <div class="span3">
        <h3>Learn more</h3>
        <ul>
          <li><a href="#">Investments</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Privacy policy</a></li>
          <li><a href="#">Terms and conditions</a></li>
          <li><a href="#">Support</a></li>
        </ul>
      </div>
      <div class="span3">
        <h3>Connect with us</h3>
        <ul id="social_media">
          <li><a href="#"><i class="icon-rss"></i> Blog</a></li>
          <li><a href="#"><i class="icon-facebook-sign"></i> Facebook</a></li>
          <li><a href="#"><i class="icon-twitter-sign"></i> Twitter</a></li>
          <li><a href="#"><i class="icon-linkedin-sign"></i> LinkedIn</a></li>
          <li><a href="#"><i class="icon-google-plus-sign"></i> Google+</a></li>
        </ul>
      </div>
      <div class="span4">
        <div class="fb-like-box" data-href="http://www.facebook.com/platform" data-width="350" data-height="210" data-show-faces="true" data-stream="false" data-header="true"></div>
      </div>
      <div class="span1"></div>
    </div>
    <div id="footer_msg">&copy; 2013 East Capital Associates Pte Ltd. All Rights Reserved.</div>
  </div>
</div>
</div>
