<div id="intro" class="container">
  <div class="container">
    <div id="intro_content" class="row span8">
      <h1>Invest in Real Estate Collectively</h1>
      <h2>Asia's most exclusive and vibrant real estate investing platform</h2>
      <iframe width="560" height="315" src="http://www.youtube.com/embed/9bZkp7q19f0" frameborder="0" allowfullscreen></iframe><br/>
      <a href="#signup" id="join_now_btn" class="btn btn-primary btn-large">Join Now <i class="icon-chevron-right"></i></a>
    </div>
  </div>
</div>
<div id="target_users" class="container">
  <div class="container">
    <div class="row">
      <div class="span1"></div>
      <div class="span4">
        <h1>Sponsors</h1>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-primary" href="#">Learn More &raquo;</a></p>
      </div>
      <div class="span2"></div>
      <div class="span4">
        <h1>Investor</h1>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-primary" href="#">Learn More &raquo;</a></p>
      </div>
      <div class="span1"></div>
    </div>
  </div>
</div>
<div id="contact_us">
  <div class="container">
    <div class="row">
      <div class="span1"></div>
      <div class="span3">
        <h3>Learn more</h3>
        <ul>
          <li><a href="#">Investments</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Privacy policy</a></li>
          <li><a href="#">Terms and conditions</a></li>
          <li><a href="#">Support</a></li>
        </ul>
      </div>
      <div class="span3">
        <h3>Connect with us</h3>
        <ul>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">LinkedIn</a></li>
          <li><a href="#">Google+</a></li>
        </ul>
      </div>
      <div class="span4">
        <div class="fb-like-box" data-href="http://www.facebook.com/platform" data-width="350" data-height="210" data-show-faces="true" data-stream="false" data-header="true"></div>
      </div>
      <div class="span1"></div>
    </div>
  </div>
</div>
</div>
