<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>FundArealty - Real estate crowdfunding for the masses</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
  // User Echo Code Starts HERE
  var _ues = {
    host:'fundarealty.userecho.com',
    forum:'18655',
    lang:'en',
    tab_corner_radius:5,
    tab_font_size:20,
    tab_image_hash:'ZmVlZGJhY2s%3D',
    tab_chat_hash:'Y2hhdA%3D%3D',
    tab_alignment:'left',
    tab_text_color:'#FFFFFF',
    tab_text_shadow_color:'#00000055',
    tab_bg_color:'#57A957',
    tab_hover_color:'#F45C5c'
  };

  (function() {
    var _ue = document.createElement('script'); _ue.type = 'text/javascript'; _ue.async = true;
    _ue.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.userecho.com/js/widget-1.4.gz.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(_ue, s);
  })();
  // User Echo Code Ends HERE

  // Google Analytics Code Starts HERE
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39697419-1']);
  _gaq.push(['_setDomainName', 'fundarealty.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  // Google Analytics Code Ends HERE
  </script>
</head>
<body id="prelaunch">
  <div class="container">
    <div class="row">
      <img id="logo" src="<%= image_path "logo.png" %>" />
    </div>
    <div class="row">
      <div class="span12">
        <div class="content">
          <h1>Real estate crowdfunding for the masses</h1>
          <p>FundArealty is coming very soon.<br />Enter your email below and you will be notified when we launch.</p>
          <form action="index.html" class="form-inline">
            <input type="email" name="email" placeholder="Enter your email" class="input-large" />
            <input type="submit" value="Go" class="btn btn-primary btn-large" />
          <p>
          <a href="http://twitter.com/" class="sb circle twitter mytooltip" title="Twitter">Twitter</a>
          <a href="http://facebook.com/" class="sb circle facebook mytooltip" title="Facebook">Facebook</a>
          <a href="http://plus.google.com/" class="sb circle gplus mytooltip" title="Google Plus">Google Plus</a>
          <a href="http://pinterest.com/" class="sb circle pinterest mytooltip" title="Pinterest">Pinterest</a>
          <a href="#" class="sb circle rss mytooltip" title="RSS">RSS</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
