<p>FundArealty is coming very soon.<br />Meanwhile, let us know who you are so that we can send you an invite when we launch.</p>
<% if @ret.present? %>
  <p class="alert alert-<%= @ret[:status] %>"><%= @ret[:msg] %></p>
<% end %>
<%= form_tag pages_invite_path, method: :post, class: "form-horizontal" do |f | %>
  <div class="control-group">
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls">
      <input type="text" id="inputEmail" name="inputEmail" placeholder="Email" class="input-large" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputFirstName">First Name</label>
    <div class="controls">
      <input type="text" id="inputFirstName" name="inputFirstName" placeholder="First Name" class="input-large" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputLastName">Last Name</label>
    <div class="controls">
      <input type="text" id="inputLastName" name="inputLastName" placeholder="Last Name" class="input-large" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputInvest">How much would you like to invest per annum?</label>
    <div class="controls">
      <select id="inputInvest" name="inputInvest">
        <option value="2000">S$2,000</option>
        <option value="5000" selected>S$5,000</option>
        <option value="10000">S$10,000</option>
        <option value="20000">S$20,000</option>
        <option value="50000">S$50,000</option>
        <option value="100000">S$100,000</option>
      </select>
    </div>
  </div>
  <p id="prelaunch_form_remarks">Solely for our information. Absolutely no commitment from you.</p>
  <input type="submit" value="Request for Invite" class="btn btn-primary btn-large" />
<% end %>
