// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body#prelaunch {

  background-image: image-url('textured_paper.png');
  padding-top: 100px;
  text-align: center;
  margin: 0 auto;

  img#logo {
    width: auto;
    height: 150px;
  }

  div.content {
    h1 {
      font-size: 25px;
    }
  }

}
