// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body#prelaunch {

  background-image: image-url('textured_paper.png');
  padding-top: 100px;
  text-align: center;
  margin: 0 auto;

  h1 {
    color: #0f75bc;
    font-size: 28px;
  }

  img#logo {
    width: auto;
    height: 150px;
  }

  div.content {
    h1 {
      font-size: 25px;
    }
    p.alert {
      margin: 0px auto 8px auto;
      width: 500px;
    }
    input.input-large {
      padding: 9px 14px;
    }
    input.btn-large {
      font-size: 14px;
      line-height: 13px;

      &.btn-primary {
        background-image: linear-gradient(to bottom, #0088cc, #0f75bc);
        background-color: #0f75bc;
      }
    }
    div#footer {
      font-size: 12px;
    }
  }

}
