// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body#prelaunch {

  background-image: image-url('textured_paper.png');
  padding-top: 60px;
  text-align: center;
  margin: 0 auto;

  h1 {
    color: #0f75bc;
    font-size: 28px;
  }

  img#logo {
    width: auto;
    height: 140px;
  }

  div.content {
    
    #pages_faq {
      text-align: left; 

      p.faq_question {
        font-weight: bold; 
      }
      p.faq_answer {
        margin-bottom: 25px; 
      }
    }
    
    h1 {
      font-size: 25px;
    }
    p.alert {
      margin: 0px auto 8px auto;
      width: 500px;
    }
    form.form-horizontal {
      margin-top: 10px;
      display: inline-block;

      input.btn-large {
        font-size: 14px;
        line-height: 13px;

        &.btn-primary {
          background-image: linear-gradient(to bottom, #0088cc, #0f75bc);
          background-color: #0f75bc;
        }
      }

      select#inputInvestRange {
        margin-top: 8px; 
      }

      p#prelaunch_form_remarks {
        font-size: 12px;
        font-style: italic;
      }
    }
    div#footer {
      hr.shadow-line {
        border-top: 1px solid #cccccc;
        border-bottom: 1px solid #ffffff;
      }
      nav#nav_links {
        margin-bottom: 8px;
        a {
          text-decoration: none; 
          margin: 0 10px;
        }
      }
    }
  }

}
